/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/

/*Start custom*/
@font-face {
    font-family: ACaslonPro;
    src: url("./fonts/ACaslonPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Springville;
    src: url("./fonts/Springville-Regular3.otf") format("opentype");
}

h1, h2 {
	font-family: Springville, serif;
}

body {
	font-family: ACaslonPro, serif;
}

#header-wrapper {
	position: fixed;
	z-index: 999;
	background: white;
	width: 100%;
}

#header {
    height: 120px;
    line-height: 120px;
    max-width: 1162px;
    margin: auto;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;

    #logo {
	    font-size: 34px;
	    float: left;
    }

    #nav {
    	font-family: Arial, sans-serif;
	    font-weight: bold;
    	font-size: 11px;
    	color: #767676;
    	float: right;
        width: 180px;

	    li {
	    	width: 50%;
	    	float: left;
	    }
    }

	#hamburger {
		width: 30px;
		height: 26px;
		z-index: 9999;
		position: absolute;
		right: 5px;
		top: 48px;

		& > div {
			background: black;
			height: 2px;
			margin-bottom: 6px;
		    float: left;
		    width: 100%;
		}
	}
}

#carousel {
	position: relative;
	overflow: hidden;
    height: 605px;
	top: 120px;

	#slides {
		h1 {
			font-size: 60px;
		    margin-bottom: 20px;
		}
		h2 {
			font-family: ACaslonPro, serif;
			font-size: 30px;
		    margin-bottom: 16px;
		}
		p {
			font-size: 18px;
			max-width: 450px;
			line-height: 1.4;
		}

		img {
			width: 1440px;
			height: 580px;
			margin: auto;
		    position: absolute;
		    top: 0;
		    left: -9999px;
		    right: -9999px;

		    -webkit-filter: brightness(65%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
		            filter: brightness(65%); /* FF 35+ */
		}
	    
	    li {
    	    display: none;
    	    position: relative;
    	    &.active {
    	    	display: block;
    	    }
	    }

	    .content {
	    	margin: auto;
	    	position: absolute;
    	    top: 220px;
	    	color: white;
	    	width: 100%;
	    	max-width: 1162px;
	    	left: -9999px;
	    	right: -9999px;
	    }
	}

	#nav-dots {
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 100;
		text-align: center;
		bottom: 0;

		li {
			margin: 0 10px;
			display: inline-block;
			zoom: 1;
		}
		a {
			width: 9px;
		    height: 9px;
		    display: block;
		    background: rgba(0, 0, 0, 0.1);
		    cursor: pointer;
		    text-indent: -9999px;
		    -webkit-border-radius: 20px;
		    -moz-border-radius: 20px;
		    -o-border-radius: 20px;
		    border-radius: 20px;
		}
		li.active > a {
			background: rgba(0, 0, 0, 0.2);
		}
	}
}


#masonry {
	position: relative;
    top: 200px;
    width: 100%;
    max-width: 1162px;
    margin: auto;

	article {
		position: absolute;

		img {
			width: 100%;
		    margin-bottom: 50px;
		}

		h2 {
			font-size: 48px;
			margin-bottom: 22px;
		}

		p {
		    margin-bottom: 50px;
		}

		.post-content {
			border-bottom: 1px solid #dbdbdb;
		}
	}

	.date {
		font-family: Arial, sans-serif;
		font-size: 11px;
		color: #767676;
	    text-transform: uppercase;
        margin-bottom: 24px;
        display: block;
	}
}

